body {
  background-color: black;
  margin: 0; }

h1, h2, h3, h4, h5, h6, a, p {
  font-family: freight-display-pro, serif;
  color: white;
  font-weight: 400; }

#header {
  background: url("../img/fth_bg.jpg") no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-position: center; }
  #header .info-box {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100vw;
    box-sizing: border-box;
    padding: 2%;
    margin: 3em 0; }
    @media (min-width: 40em) {
      #header .info-box {
        margin: 0 3em 3em 0;
        width: 560px; } }
    #header .info-box h1, #header .info-box p {
      color: #eace70;
      margin: 0;
      text-align: center;
      text-justify: inter-character;
      flex-basis: 100%;
      line-height: 1; }
    #header .info-box p {
      margin: 0.75em 0; }
    #header .info-box h1 {
      font-size: 4vh; }
    #header .info-box img {
      height: 35px;
      margin-top: 5px; }

.justify {
  text-align: justify; }
